.amarelo{
    color: #f1f776;
    background-color: #612916;
}

body{
    color: #612916;
    background-color: #fefdf2;
}

header{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px

}


.lado1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


.body{
display: grid;
    grid-template-columns: 55% 45%
}
    