.amarelo{
    color: #f1f776;
    background-color: #612916;
}

body{
    color: #612916;
    background-color: #fefdf2;
}

header{
    display: flex;
        flex-direction: row-reverse;
    align-items: stretch;

}