.foto{
    width: 25%;
}

body{
    background-color: #b41c1f;
display: flex;

align-items: center;
justify-content: space-evenly;
}

div{ margin: 19px;
    padding: 2px;

}

a{
color: black;
border: black 2px;
}

